@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../themes/theme" as *;

.exitOverlay {
  @include position(fixed, 0, 0, 110);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;

  &__container {
    @include position(absolute, 50%, 50%, 150);
    transform: translate(-50%, -50%);
    background-color: var(--overlay-bg-color);
    padding: 40px;
    border-radius: 20px;
    width: 450px;
    @include flexCenter(column);
    gap: 40px;

    & .overlay-text {
      @include text(var(--overlay-text-font), var(--overlay-text-color), 28px);
      font-weight: var(--overlay-text-weight);
      line-height: 40px;
      text-align: center;
    }

    & .overlay-btns {
      @include flexCenter(row);
      gap: 24px;
      width: 100%;
    }
  }
}
