@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../themes/theme" as *;

.exitOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--overlay-bg-color);
    z-index: 150;
    padding: 40px;
    border-radius: 20px;
    width: 450px;
    @include flexCenter(column);
    gap: 40px;

    & .overlay-text {
      font-family: var(--overlay-text-font);
      font-weight: var(--overlay-text-weight);
      font-size: 28px;
      line-height: 40px;
      text-align: center;
      color: var(--overlay-text-color);
    }

    & .overlay-btns {
      @include flexSpace;
      gap: 24px;
      width: 100%;
    }
  }
}
