@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../themes/theme" as *;

.gameOver {
  @include position(fixed, 0, 0, 100);
  width: 100%;
  height: 100vh;
  background-color: var(--gameOver-bg-color);
  border: none;
  @include flexCenter(column);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-80%);
  transition:
    opacity 0.8s ease-in,
    transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);

  &.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  &__content {
    @include flexSpace;
    flex-direction: column;
    gap: 100px;

    &--title {
      @include text(
        var(--gameOver-winner-draw-font),
        var(--gameOver-font-color),
        130px
      );
      font-weight: var(--gameOver-font-weight);
    }

    &--scoreBox {
      @include flexSpace;
      flex-direction: column;
      gap: 24px;

      .gameOver__content--scoreBox--title {
        @include text(
          var(--finalScore-font),
          $text-color-intro,
          var(--finalScore-font-size)
        );
        font-weight: var(--finalScore-font-weight);
      }

      .gameOver__content--scoreBox--scores {
        padding: 16px 32px;
        border-radius: var(--finalScore-scorebox-radius);
        @include flexSpace($align: center);
        flex-direction: row;
        gap: 40px;
        background-color: $primary-bg-color;

        & .orangePlayer,
        .bluePlayer {
          @include flexSpace;
          gap: 8px;
        }

        & span {
          font-family: var(--finalScore-font);
          font-weight: 700;
          font-size: 38px;
        }

        .orangePlayer {
          span {
            color: $orange-color;
          }
        }

        .bluePlayer {
          span {
            color: $blue-color;
          }
        }
      }
    }
  }
}
