@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.game-intro {
  min-width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  max-height: 1024px;
  background-color: $primary-bg-dark;
  position: relative;
  @include flexCenter(column);
  overflow: hidden;
  z-index: 0;

  &::before {
    position: absolute;
    content: "";
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1440px;
    width: 100%;
    max-height: 1024px;
    height: 100%;
    background-image: url("/assets/icons/landing-page/stadia_controller-bg.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    z-index: -1;
  }
}

.game-intro.d-none {
  display: none;
}

.landing {
  @include flexCenter(column);
  gap: 72px;

  &__title {
    @include flexStart(column);
    color: $text-color-intro;

    &--first {
      font-size: 48px;
      font-family: $font-h3-intro;
      font-weight: 400;
    }

    &--second {
      font-size: 140px;
      font-family: $font-h1-intro;
    }
  }
}
