@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.game-intro {
  min-width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  max-height: 1024px;
  @include flexCenter(column);
  overflow: hidden;
}

.game-intro.d-none {
  display: none;
}

.landing {
  @include flexCenter(column);
  gap: 72px;

  &__title {
    @include flexStart(column);

    &--first {
      @include text($font-h3-intro, $text-color-intro, 48px);
      font-weight: 400;
    }

    &--second {
      @include text($font-h1-intro, $text-color-intro, 140px);
    }
  }
}
