@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.game-intro {
  width: 100%;
  height: 100%;
  position: relative;
  @include flexCenter(column);
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: 45%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/icons/landing-page/stadia_controller-bg.svg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.game-intro.d-none {
  display: none;
}

.landing {
  @include flexCenter(column);
  gap: 72px;

  &__title {
    @include flexStart(column);
    color: $text-color-intro;

    &--first {
      font-size: 48px;
      font-family: $font-h3-intro;
      font-weight: 400;
    }

    &--second {
      font-size: 140px;
      font-family: $font-h1-intro;
    }
  }
}
