@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../themes/theme" as *;

.winnerScreen {
  @include position(fixed, 0, 0, 100);
  width: 100%;
  height: 100vh;
  background-color: var(--winner-draw-bg-color);
  border: none;
  @include flexCenter(column);
  opacity: 0;
  pointer-events: none;
  transform: translateY(50%);
  transition:
    opacity 0.5s ease-in,
    transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);

  &.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}

.winner__content {
  background-color: var(--winner-draw-bg-color);
  @include flexCenter(column);
  gap: 54px;

  &--text {
    @include flexCenter(column);

    & .winner-title {
      @include text(
        var(--gameOver-winner-draw-font),
        var(--winner-text-color),
        40px
      );
      font-weight: var(--winner-title-weight);
    }

    & .winner {
      @include text(
        var(--gameOver-winner-draw-font),
        var(--winner-text-color),
        80px
      );
      font-weight: var(--winner-player-weight);
    }
  }

  &--figure {
    width: 260px;
    height: 300px;
    padding: 24px 30px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
