@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.playBtn {
  @include yellowBtn($secondary-btn-yellow);
  @include flexSpace;
  gap: 20px;
  color: $yellow-btn-text;
  font-family: $font-h1-intro;
  font-size: 40px;
  transition: all 250ms ease-out;

  &:hover {
    transform: scale(1.1);
  }

  &__icon {
    transform: rotate(0);
    @include smoothRotate;

    .playBtn:hover & {
      transform: scale(1.1) rotate(-25deg);
    }
  }

  &__arrow {
    transition: all 250ms ease-out;
  }
}

.startGameBtn {
  padding: 14px 20px;
  background-color: $secondary-btn-yellow;
  border: none;
  gap: 8px;
  font-family: $font-playBtn;
  font-size: 20px;
  cursor: pointer;
  text-transform: capitalize;
  @include flexCenter(row);
  transition: all 250ms ease-out;

  &:hover {
    transform: scale(1.15);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;

    .startGameBtn__icon {
      opacity: 0.5;
      filter: grayscale(100%);
    }

    &:hover {
      transform: none;

      .startGameBtn__icon {
        transform: none;
      }
    }
  }

  &__icon {
    transform: rotate(0);
    @include smoothRotate;

    .startGameBtn:hover & {
      transform: scale(1.15) rotate(-5deg);
    }
  }
}

.exit-button {
  @include orangeBtn(
    var(--exit-btn-bg-color),
    var(--exit-btn-text-color),
    var(--exit-btn-font)
  );
  @include flexSpace;
  gap: 10px;
  border-image: var(--exit-btn-border-image) 4 round;
  border-radius: 10px;
  transition: all 200ms ease-in;

  &:hover {
    color: var(--exit-btn-text-hover);
    background-color: var(--exit-btn-bg-hover);
    box-shadow: 3px 3px 5px 0 rgba(47, 46, 46, 0.2);
    border-image: none;
    border: 4px solid transparent;
  }

  & img {
    width: 22px;
    height: 22px;
    object-fit: cover;
  }
}

.home-btn {
  font-family: var(--winner-home-btn-font);
  font-weight: 700;
  font-size: 20px;
  color: var(--winner-home-btn-text-color);
  background-color: var(--winner-home-btn-bg-color);
  box-shadow: var(--winner-figure-bg-shadow);
  padding: 12px 20px;
  text-transform: capitalize;
  border: none;
  border-image: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 200ms ease-in;

  &:hover {
    box-shadow: 3px 3px 5px 0 rgba(47, 46, 46, 0.2);
    color: var(--winner-home-btn-text-hover);
  }
}

.back {
  @include orangeBtn(
    var(--exit-btn-bg-color),
    var(--exit-btn-text-color),
    var(--exit-btn-font)
  );
  background-color: var(--overlay-back-btn-bg);
  color: var(--overlay-back-btn-text);
  border-image: var(--exit-btn-border-image) 4 round;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: var(--overlay-btn-shadow);
  transition: all 200ms ease-in;

  &:hover {
    background-color: var(--overlay-back-btn-bg-hover);
    color: var(--overlay-back-btn-text-hover);
    // color: var(--exit-btn-text-hover);
    background-color: var(--exit-btn-bg-hover);
    box-shadow: 3px 3px 5px 0 rgba(47, 46, 46, 0.2);
    border-image: none;
    border: 4px solid transparent;
  }
}

.exit {
  @include orangeBtn(
    var(--overlay-exit-bg-color),
    var(--overlay-exit-text-color),
    var(--exit-btn-font)
  );
  font-weight: 700;
  box-shadow: var(--overlay-btn-shadow);
  border-image: var(--exit-btn-border-image) 4 round;
  border-radius: 10px;
  padding: 12px;
  transition: all 200ms ease-in;

  &:hover {
    color: var(--overlay-exit-text-hover);
    background-color: var(--overlay-exit-bg-hover);
    box-shadow: var(--overlay-btn-shadow-hover);
    border-image: none;
    border: 4px solid transparent;
  }
}
