$font-h1-intro: "Red Rose", sans-serif;
$font-playBtn: "Red Rose", sans-serif;
$settings-title-font: "Red Rose", sans-serif;
$font-h3-intro: "Almarai", sans-serif;
$settings-radio-buttons-font: "Almarai", sans-serif;
$settings-box-text: "Almarai", sans-serif;
$settings-subtitle-font: "Almarai-bold", sans-serif;
$font-exit-btn: "Delius Unicase", sans-serif;
$font-score: "Delius Unicase", sans-serif;
$font-current-player: "Klee One", sans-serif;

$secondary-btn-yellow: rgba(240, 234, 110, 1);
$primary-bg-dark: rgba(48, 49, 49, 1);
$text-color-intro: rgba(255, 255, 255, 1);
$yellow-btn-text: rgba(48, 49, 49, 1);
$primary-bg-color: rgba(255, 255, 255, 1);
$board-nav-bg: #f1e5da;
$orange-color: rgba(244, 131, 46, 1);
$blue-color: rgba(9, 127, 197, 1);
$exit-btn-text-color: rgba(243, 131, 45, 1);
$exit-btn-bg-color: rgba(255, 249, 242, 1);
$navbar-bg: rgba(240, 229, 217, 1);
$current-player-color: rgba(164, 82, 18, 1);
$setting-box-bg: rgba(246, 246, 246, 1);
