$font-h1-intro: "Red Rose", sans-serif;
$font-h3-intro: "Almarai", sans-serif;

$secondary-btn-yellow: rgba(240, 234, 110, 1);
$primary-bg-dark: rgb(48, 49, 49);
$text-color-intro: rgba(255, 255, 255, 1);
$yellow-btn-text: rgba(48, 49, 49, 1);
