@use "../base/typography" as *;

html[data-theme="DAProjects"] {
  --current-player-font: "Figtree", sans-serif;
  --current-player-font-weight: 700;
  --current-player-text-color: rgba(30, 117, 148, 1);
  --card-back-image: url("/assets/img/DA Projects/back-component.svg");
  --gameOver-bg-color: rgba(30, 117, 148, 1);
  --gameOver-winner-draw-font: "Figtree", sans-serif;
  --gameOver-font-weight: 800;
  --gameOver-font-color: rgba(253, 91, 79, 1);
  --finalScore-font: "Figtree", sans-serif;
  --finalScore-font-weight: 400;
  --finalScore-font-size: 40px;
  --finalScore-text-color: rgba(253, 91, 79, 1);
  --finalScore-scorebox-radius: 10px;
  --winner-draw-bg-color: rgba(30, 117, 148, 1);
  --winner-text-color: rgba(255, 255, 255, 1);
  --winner-title-weight: 400;
  --winner-player-weight: 700;
  --winner-figure-bg-color: rgba(30, 117, 148, 1);
  --winner-figure-bg-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  --winner-home-btn-bg-color: rgba(191, 229, 242, 1);
  --winner-home-btn-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  --winner-home-btn-font: "Figtree", sans-serif;
  --winner-home-btn-text-color: rgba(30, 117, 148, 1);
  --winner-home-btn-text-hover: rgba(255, 255, 255, 1);
  --winner-home-btn-border-image: none;
  --winner-home-btn-border: none;
  --exit-btn-bg-color: rgba(191, 229, 242, 1);
  --exit-btn-text-color: rgba(30, 117, 148, 1);
  --exit-btn-font: "Figtree", sans-serif;
  --exit-btn-bg-hover: rgba(30, 117, 148, 1);
  --exit-btn-text-hover: rgba(255, 255, 255, 1);
  --navbar-bg: rgba(240, 243, 244, 1);
  --exit-btn-border-image: none;
  --matched-card-border: 2px solid rgba(30, 117, 148, 1);
  --matched-card-border-image: none;
  --matched-card-border-radius: 13px;
  --overlay-bg-color: rgba(240, 246, 249, 1);
  --overlay-text-font: "Figtree", sans-serif;
  --overlay-text-weight: 700;
  --overlay-text-color: rgba(41, 79, 96, 1);
  --overlay-exit-bg-color: rgba(253, 138, 129, 1);
  --overlay-exit-text-color: rgba(255, 255, 255, 1);
  --overlay-exit-text-hover: rgba(255, 255, 255, 1);
  --overlay-btn-shadow: 3px 3px 5px 0 rgba(47, 46, 46, 0.2);
  --overlay-btn-shadow-hover: 0;
  --overlay-exit-bg-hover: rgba(237, 91, 80, 1);
}

html[data-theme="foods"] {
  --current-player-font: "Klee One", sans-serif;
  --current-player-font-weight: 600;
  --current-player-text-color: rgba(164, 82, 18, 1);
  --card-back-image: url("/assets/img/foods/back-component.svg");
  --gameOver-bg-color: rgba(244, 131, 46, 1);
  --gameOver-winner-draw-font: "Klee One", sans-serif;
  --gameOver-font-weight: 600;
  --gameOver-font-color: rgba(255, 255, 255, 1);
  --finalScore-font: "Klee One", sans-serif;
  --finalScore-font-weight: 600;
  --finalScore-font-size: 42px;
  --finalScore-scorebox-radius: 0;
  --winner-draw-bg-color: rgba(255, 255, 255, 1);
  --winner-text-color: rgba(164, 82, 18, 1);
  --winner-title-weight: 600;
  --winner-player-weight: 600;
  --winner-figure-bg-color: rgba(247, 230, 213, 1);
  --winner-figure-bg-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.25);
  --winner-home-btn-bg-color: rgba(243, 131, 45, 1);
  --winner-home-btn-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
  --winner-home-btn-font: "Delius Unicase", sans-serif;
  --winner-home-btn-text-color: rgba(255, 255, 255, 1);
  --winner-home-btn-text-hover: rgba(255, 255, 255, 1);
  --winner-home-btn-border-image: url("/assets/icons/food/exit-btn-border.svg");
  --winner-home-btn-border: 8px solid transparent;
  --exit-btn-bg-color: rgba(255, 249, 242, 1);
  --exit-btn-text-color: rgba(243, 131, 45, 1);
  --exit-btn-font: "Delius Unicase", sans-serif;
  --exit-btn-bg-hover: rgba(243, 131, 45, 1);
  --exit-btn-text-hover: rgba(255, 255, 255, 1);
  --navbar-bg: rgba(240, 229, 217, 1);
  --exit-btn-border-image: url("/assets/icons/food/exit-btn-border.svg");
  --matched-card-border: 8px solid transparent;
  --matched-card-border-image: url("/assets/icons/food/exit-btn-border.svg") 10
    stretch;
  --matched-card-border-radius: 0;
  --overlay-bg-color: rgba(246, 246, 246, 1);
  --overlay-text-font: "Klee One", sans-serif;
  --overlay-text-weight: 600;
  --overlay-text-color: rgba(164, 82, 18, 1);
  --overlay-exit-bg-color: rgba(255, 249, 242, 1);
  --overlay-exit-text-color: rgba(243, 131, 45, 1);
  --overlay-exit-text-hover: rgba(255, 255, 255, 1);
  --overlay-btn-shadow: 0 rgba(0, 0, 0, 0);
  --overlay-btn-shadow-hover: 3px 3px 5px 0 rgba(47, 46, 46, 0.2);
  --overlay-exit-bg-hover: rgba(243, 131, 45, 1);
}
