@use "./abstract/variables" as *;
@use "./abstract/mixins" as *;
@use "./abstract/functions" as *;
@use "./base/reset" as *;
@use "./base/typography" as *;
@use "./components/buttons" as *;
@use "./components/card" as *;
@use "./components/player" as *;
@use "./layout/intro" as *;
@use "./layout/settings" as *;
@use "./layout/board" as *;
@use "./themes/theme" as *;
@use "./layout/gameOver" as *;
@use "./layout/winner" as *;
@use "./layout/exitPopup" as *;

body {
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  background-color: $body-bg-color;
  margin: 0 auto;
  @include flexCenter(column);
  z-index: -10;
}

.board-white {
  background-color: $primary-bg-color;
}
