@use "./abstract/variables" as *;
@use "./abstract/mixins" as *;
@use "./abstract/functions" as *;
@use "./base/reset" as *;
@use "./base/typography" as *;
@use "./components/buttons" as *;
@use "./components/card" as *;
@use "./components/player" as *;
@use "./layout/intro" as *;
@use "./layout/settings" as *;
@use "./layout/board" as *;

body {
  height: 100vh;
  width: 100%;
  background-color: $primary-bg-dark;
  margin: 0 auto;
  @include flexCenter(column);
}
